<div class="title-container">
    <h1 class="">{{this.title}}</h1>
</div>
<div class="Author">
    {{{this.Author}}}
</div>
<div class="reviews">
  <p>Here is the review</p>
    {{{this.reviews}}}
</div>
<div class="Pages">
  <p>Here is the page length</p>
    {{{this.pages}}}
</div>
<div class="Rating">
  <p>Here is the rating out of 5</p>
    {{{this.rating}}}
</div>
<div class="Rating">
  <p>Here is are the tags</p>
    {{{this.tags}}}
</div>
